/* styles.css */

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
  .shine-text {
    background: linear-gradient(13deg, hsla(93, 56%, 77%, 0.7), hsla(21, 66%, 67%, 0.82), hsla(67, 27%, 94%, 0.7));
    background-size: 200% 100%;
    animation: shine 3s infinite linear;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  